*
{
	margin: 0;
	padding: 0;
}

body
{
	background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.05) 100%);
	color: #353535;
}

#navheader {
	display: block;
	padding: 45px;
	padding-left: 120px;
	font-size: 40px;
	background: url("/images/steamlogo.svg") no-repeat scroll left 15px top 5px / 100px auto rgba(0,0,0,0);
	background-color: #000;
}
nav
{
	background: #2B2B2C;
	text-align: center;
	border-bottom: 1px solid #3D3D3D;
}

nav a:hover
{
	color: #FFF;
}

nav ul
{
	margin: 0;
}

nav ul ul
{
	display: none;
	position: absolute;
	border: 1px solid #3D3D3D;
	border-top: none;
}

nav ul li:hover ul
{
	display: block !important;
	z-index: 99;
}

.current:hover ul
{
	display: block !important;
}


nav ul ul li
{
	display: block;
	text-align: left;
	background: #393939;
	width: 200px;
}

nav ul ul li a
{
	line-height: 25px;
	padding: 4px 25px;
}

nav ul li
{
	display: inline-block;
}

nav ul li a
{
	color: #EBEBEB;
	display: block;
	font-family: Arial, sans-serif;
}

nav > ul > li > a
{
	padding: 4px 25px;
	line-height: 25px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}


nav ul li:hover > a,
nav ul li.current > a
{
	text-decoration: none;
	background: #323232;
}

nav > ul > li:hover > a,
nav > ul > li.current > a
{
	background-color: #393939;
	border-left: 1px solid #3D3D3D;
	border-right: 1px solid #3D3D3D;
}

nav img
{
	margin: 30px 0 0 20px
}

header h1
{
	color: #000;
	text-align: center;
	margin: 20px 0;
}

h1,
h2,
h3
{
	color: #529CDE;
}

article
{
	text-align: justify;
	margin: 60px auto;
	min-width: 600px;
	max-width: 800px;
}

article#nextevent
{
	background-color: #3D4655;
	min-width: 600px;
	color: #FFF;
	max-width: 800px;
	padding-bottom: 10px;
}

article#nextevent h1
{
	margin: 5px 0 10px 0;
}

article#nextevent h2
{
	font-weight: bold;
	color: white;
}

article#nextevent img.eventImage
{
	border-radius: 10px;
}

article#nextevent img.eventImage:hover
{
	box-shadow: 0 0 15px 1px rgba(82,156,222, 0.5);
}

article#nextevent #countdown
{
	padding: 10px
}

article#nextevent span
{
	font-weight: bold;
	font-size: 16px
}

div.shadow
{
	padding-bottom: 10px;
	background-color: #FFF;
}

article p,
article dl,
article ul
{
	margin: 15px 30px;
}

article blockquote
{
	color: #AAAAAA;
	padding: 10px;
	margin: 1em 40px;
}

article blockquote:before
{
	color: #529CDE;
	content: open-quote;
	font-size: 40px;
	line-height: 1px;
	margin-right: 10px;
	vertical-align: -17px;
}

article dl dt
{
	clear: left;
	float: left;
	margin-right: 0.5em;
	width: 8em;
	text-align: right;
}

article dl dt:after
{
	content: ":";
}

article h1
{
	margin: 0;
	font-size: 20px;
	padding: 0 20px;
	background: #222;
	border-bottom: 1px solid #3D3D3D;
	box-shadow: 0 50px 50px -50px rgba(0, 0, 0, 0.5) inset, 0 0 0 0 rgba(0, 0, 0, 0.5);
}

article h2
{
	font-size: 1.3em;
	margin: 0.5em 30px;
}

article h3,
article audio
{
	margin: 0.5em 30px;
}

article h1 a
{
	color: #529CDE;
}

article h1 a:hover {
		text-decoration: none;
		color: #307ABC;
}

article ul,
ol
{
	margin-left: 60px;
}

article.shownotes ul
{
	margin-left: 0px;
}

article.shownotes ul.castsection
{
	margin-left: 90px;
}

article ul
{
	list-style-type: square;
}

article .eventList
{
	margin: 15px 30px;
	list-style-type: none;
}
ul.eventList li {
		margin: 0;
}
a
{
	text-decoration: none;
	color: #529CDE;
}

audio
{
	width: 740px;
	height: 40px;
}

a:hover
{
	text-decoration: underline;
}

footer
{
	background: #1B1B1B;
	box-shadow: 0 50px 50px -50px rgba(0, 0, 0, 0.5) inset, 0 10px 15px -10px rgba(0, 0, 0, 0.5);
	color: #666666;
	border-top: #2B2B2B;
	padding-bottom: 12px;
	padding-top: 25px;
	min-height: 78px;
	text-align: center;
}

footer a
{
	color: #666666;
}

footer a:hover
{
	color: #A0A0A0;
}

footer ul
{
	margin-left: 30px;
	list-style-type: square;
}

footer .linkDiv
{
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

footer .copy
{
	clear: both;
	margin-top: 2em;
}

.linkDiv h3
{
	margin-left: 2em;
}

#history li,
#main li
{
	margin: 0 10px;
	height: 46px;
	width: 100%
}

.eventLogo
{
	width: 32px;
	height: 32px;
	border-radius: 3px;
	background: #000;
	vertical-align: middle;
	border: 3px solid #545454;
}

.eventDate
{
	float: right;
	line-height: 38px;
}

.eventName
{
	font-size: 15px;
	font-weight: bold;
}

.eventWrap
{
	width: 100%;
	overflow: hidden;
	height: 38px;
}

.eventWrap div
{
	float: left;
}

.eventWrap div.eventCommentWrap
{
	width: 466px;
	margin-left: 20px;
	padding-top: 2px;
}

.eventComments
{
		color: #777;
}

.online
{
	border-color: #7BAFD6;
}

.counterDigit
{
	background-color: #303030;
	display: inline-block;
	width: 25px;
	text-align: center;
	text-shadow: none;
	border-radius: 3px;
	text-align: center;
	margin-top: 3px;
}

#countdown div
{
	display: inline-block;
	padding: 1em 1.5em;
}

.serverlink
{
	text-align:center;
	margin: 0;
}

.attribution
{

	font-style: italic;
	padding-left: 20px;
	color: #595959;
	margin: 0;
}

#groupLink
{
		display: none;
}

#groupLink img
{
	position: relative;
	background: url("/images/noise4.png") repeat scroll 0 0 #262627;
	z-index: 5;
	transition: margin-left 0.25s linear;
}


#betaStamp
{
		display: none;
}

.detailLink
{
	margin-top: 1em;
}

.clearfix
{
	clear: both;
}

div.key
{
	width: 150px;
	height: 75px;
	border: 2px solid #529CDE;
	border-radius: 5px;
	display: block;
	background-color: #1B1B1B;
	background-repeat: no-repeat;
	background-position: center;
	margin: 29px;
	float: left;
}

.streambox
{
	text-align: center;
}

.streambox img
{
	border-radius: 20px;
	box-shadow: 0 0 15px 1px rgba(0,0,0, 0.5);
}

.license
{
	height: 16px;
	margin-top: -1px;
}

span.right
{
	float: right;
}

table.tablesorter
{
		font-size: 14px;
	border-spacing: 0;
	width: 800px;
}

table.tablesorter img
{
	height: 16px;
}

span.online,
span.offline
{
	display: block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	text-indent: -10000px;
}

span.online
{
	background: #7C8E32;
}

span.offline
{
	background: #E54028;
}

table.tablesorter thead tr th,
table.tablesorter tfoot tr th
{
	padding: 5px;
}

table.tablesorter thead tr
{
	text-align: left;
}

table.tablesorter thead th.header
{
	padding-left: 20px;
	background-image: url('/images/bg.gif');
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
}

table.tablesorter tbody td
{
	height: 20px;
	padding: 5px;
}

table.tablesorter tbody tr:nth-child(even)
{
	background-color: #CFCFCF;
}

table.tablesorter thead th.headerSortUp
{
	background-image: url('/images/asc.gif');
}

table.tablesorter thead th.headerSortDown
{
	background-image: url('/images/desc.gif');
}

table.tablesorter thead th.headerSortDown,
table.tablesorter thead th.headerSortUp
{
	background-color: #3D4655;
}

time
{
	margin-right: 10px;
	color: #626262;
}

time:target
{
	color: #FF7F00;
}

.casttopic
{
	font-weight: bold;
	font-size: 14px;
	line-height: 40px;
}

.shownotes
{
	text-align: left;
}

.shownotes li
{
	list-style-type: none !important;
	line-height: 20px;
	text-indent: -60px;
}

.castsource
{
	color: #529CDE;

}

.castabout
{
	line-height: 14px;
}

.nostamp
{
	text-indent: 10px !important;
}

.nostamp p
{
	margin: 0;
}

/* highlighter */

time
{
	cursor: pointer;
}

time:hover
{
	color: #EEE;
}

li.highlighted,
.highlighted time
{
	background-color: #06A;
	color: #EEE;
}
